<header class="navbar navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" routerLink="/campaigns" style="cursor: pointer;">
            <img src="assets/images/logo.png" alt="Moneytolia Logo" height="30" class="me-2">
            Moneytolia
        </a>
        <button class="btn btn-outline-light" (click)="logout()">Çıkış Yap</button>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/campaigns" routerLinkActive="active">
                            Kampanyalar
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/create-campaign" routerLinkActive="active">
                            Yeni Kampanya
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-10">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>